*, *::after, *::before {
    box-sizing: border-box;
}

.card {
    display: block;
    margin: auto;
    padding: 7px;
    height: 110px;
    width: 80px;
    margin-top: 10px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    position: relative;
    }

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: 7rem 2rem 7rem;
    gap: .5rem;
    justify-content: center;
    padding-top: 2rem;
    background: url(/images/aces.jpg)fixed;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: rgb(99, 97, 97);
    user-select: none;
    box-shadow: 5px 10px grey;

}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.computer-deck {
    background-color: red;
    background-image: url(/images/red_back.jpg);
    background-size: 63px 110px;
}


.player-deck {
    background-color: blue;
    background-image: url(/images/blue_back.jpg);
    background-size: 63px 110px;
}

.card.red {
    color:red;
}

.card.black {
    color: black;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

/* card before is the top part BEFORE symbol. Card after is bottom part AFTER */

.card::before {
    top: .5rem;
    left: .5rem
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}